<div class="demo-card-image mdl-card mdl-shadow--2dp" style="margin: 0 auto;">
    <div class="mdl-card__title mdl-card--expand">
      Sign up
    </div>
    <div class="mdl-card__actions">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="mdl-textfield mdl-js-textfield">
          <%= f.email_field :email, class: 'mdl-textfield__input', autofocus: true, placeholder: 'Email' %>
        </div>

        <div class="mdl-textfield mdl-js-textfield">
          <%= f.password_field :password, class: 'mdl-textfield__input', autocomplete: "off", placeholder: 'Senha' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield">
          <%= f.password_field :password_confirmation, class: 'mdl-textfield__input', autocomplete: "off", placeholder: 'Repetir Senha' %>
        </div>
        <div class="dist-bt">
          <%= f.submit "Sign up", :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
</div>
