  <% if @conteudo.errors.any? %>
    <div id="error_explanation">
      Há erros no formulário, por favor verifique.
    </div>
  <% end %>
  <%= form_for @conteudo, html: { multipart: true } do |f| %>
    <div class="dist-bt">
      <%= f.text_field :titulo, class: 'mdl-textfield__input', placeholder: 'Titulo' %>
      <%= error_tag @conteudo, :titulo %>
    </div>
    <div class="dist-bt">
      <%= f.text_field :subtitulo, class: 'mdl-textfield__input', placeholder: 'Subtitulo' %>
      <%= error_tag @conteudo, :subtitulo %>
    </div>
    <div class="dist-bt">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
      <%= error_tag @conteudo, :image %>
    </div>
    <div class="dist-bt">
      <%= f.label :categoria %><br>
      <%= f.select :categoria_id, Categoria.all.collect{|c| [c.nome, c.id]}, prompt: 'Selecione' %>
      <%= error_tag @conteudo, :categoria_id %>
    </div>
    <div class="dist-bt">
      <%= f.text_area :texto, class: 'mdl-textfield__input', placeholder: 'Texto', rows: '15' %>
      <%= error_tag @conteudo, :texto %>
    </div>
    <div class="dist-bt">
      <%= f.submit :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
      <%= link_to 'Back', conteudos_path, class: 'mdl-button mdl-js-button mdl-button--primary'%>
    </div>
  <% end %>
