  <p id="notice"><%= notice %></p>
  <h4>Listing Conteudos</h4>
  <hr>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" id="sample6" placeholder="Busca por titulo" />
      <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
    </div>
  </div>

    <div class="mdl-grid">
      <% @conteudos.each do |conteudo| %>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-card mdl-shadow--4dp">
            <div class="mdl-card__media">
              <%= image_tag conteudo.image.url(:medium) %>
            </div>
            <div class="mdl-card__supporting-text">
              <h4><%= conteudo.titulo %><br></h4>
              <%= conteudo.subtitulo %>
            </div>
            <div class="mdl-card__supporting-text">
              <%= conteudo.texto %>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <%= link_to 'Show', conteudo, class: 'mdl-button mdl-js-button mdl-js-ripple-effect' %>
              <%= link_to 'Edit', edit_conteudo_path(conteudo), class: 'mdl-button mdl-js-button mdl-button--primary' %>
              <%= link_to 'Destroy', conteudo, class: 'mdl-button mdl-js-button mdl-button--accent', method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <%= link_to 'New Conteudo', new_conteudo_path, class: 'dist-bt mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
