  <h4>Listing Conteudos</h4>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">Filtro</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="pesqTitulo" class="estilo-fonte">Título</label>
        <input type="email" class="form-control" id="pesqTitulo" placeholder="Titulo">
      </div>
      <label for="inputEmail3" class="control-label estilo-fonte">Categoria</label>
      <select class="form-control">
        <option>Escolha</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <% @conteudos.each do |conteudo| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag conteudo.image.url(:medium), class: 'thumbnail-estilo img-responsive' %>
        <div class="caption">
          <h5 style="font-weight: 900;"><%= conteudo.titulo %><br></h5>
          <%= link_to 'Show', conteudo, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_conteudo_path(conteudo), class: 'btn btn-success' %>
          <%= link_to 'Destroy', conteudo, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to 'New Conteudo', new_conteudo_path, class: 'btn btn-primary' %>
