  <p id="notice"><%= notice %></p>
  <%= image_tag @conteudo.image.url(:large), class: 'tam-img' %>
  <br>
  <h3><%= @conteudo.titulo %></h3>
  <%= @conteudo.subtitulo %>
  <br>
  <%= @conteudo.texto %>
  <br>
  <%= link_to 'Edit', edit_conteudo_path(@conteudo) %> |
  <%= link_to 'Back', conteudos_path %>
