  <% if @banner.errors.any? %>
    <div id="alert alert-warning">
      Há erros no formulário, por favor verifique.
    </div>
  <% end %>

  <%= form_for @banner, html: { multipart: true } do |f| %>
    <div class="form-group">
      <%= f.label :image, class: 'estilo-fonte' %>
      <%= f.file_field :image %>
      <%= error_tag @banner, :image %>
    </div>

    <div class="form-group">
      <%= f.label :url, class: 'estilo-fonte' %>
      <%= f.text_field :url, class: 'form-control' %>
      <%= error_tag @banner, :url %>
    </div>
    <br>
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Back', banners_path, class: 'btn btn-warning' %>

  <% end %>
