<%= form_for @banner, html: { multipart: true } do |f| %>
  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, class: 'mdl-textfield__input' %>
  </div>
  <br>

  <%= f.submit :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  <%= link_to 'Back', banners_path, class: 'mdl-button mdl-js-button mdl-button--primary' %>
  
<% end %>
