<p id="notice"><%= notice %></p>

<p>
  <strong>Imagem:</strong>
  <%= image_tag @banner.image.url(:medium) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @banner.url %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
