  <p id="notice"><%= notice %></p>
  <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title mdl-card--expand">
      <%= image_tag @banner.image.url(:large), class: 'img-responsive' %>
    </div>
    <div class="mdl-card__supporting-text">
      <strong>Url:</strong>
      <%= @banner.url %>
    </div>
    <%= link_to 'Edit', edit_banner_path(@banner) %> |
    <%= link_to 'Back', banners_path %>
  </div>
