<% if usuario_signed_in? %>
  <% if current_usuario.try(:admin?) %>
    <%= render 'layouts/menu_admin'%>
  <% else %>
    <%= render 'layouts/menu_usuario'%>
  <% end %>
  <br>
  <%= link_to "Sair", destroy_usuario_session_path, :method => :delete, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent dist-bt' %>
<% else %>
<div class="painel">
  <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Seja bem vindo</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <%= link_to "Entrar", new_usuario_session_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored tam-bt' %>
      <br>
      <h3>OU</h3>
      <br>
      <%= link_to "Criar Conta", new_usuario_registration_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent tam-bt' %>
    </div>
  </div>
</div>
<% end %>
