  <% if @categoria.errors.any? %>
    <div id="error_explanation">
      Há erros no formulário, por favor verifique.
    </div>
  <% end %>

  <%= form_for(@categoria) do |f| %>
    <div class="form-group">
      <%= f.label :nome, class: 'estilo-fonte' %>
      <%= f.text_field :nome, class: 'form-control', placeholder: 'Nome' %>
      <%= error_tag @categoria, :nome %>
    </div>
    <br>
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Back', categorias_path, class: 'btn btn-warning' %>
  <% end %>
